{% extends 'base.html' %}

{% block styles %}
<style>
    .accordion-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .accordion-button {
        background-color: rgba(230, 230, 230, 100%);
    }

    .accordion-button:focus {
        border-color: black;
        box-shadow: 0 0 0 0 white;
    }

    .accordion-button:not(.collapsed) {
        color: rgba(0, 0, 0, 255);
        background-color: rgba(200, 200, 200, 100%);
    }

    .accordion-button:after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }

    .big-font-no-margin {
        font-size: 5rem;
        margin-bottom: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class='py-3 container'>
    <h1 class="big-font-no-margin text-center"> 常見問題 </h1>
</div>

<div class=" container-fluid">
    <div class="accordion" id="FAQAccordion">
        {% for q in object_list %}
        <div class="accordion-item">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true"
                aria-controls="collapse{{ forloop.counter }}">
                <h4 class="accordion-header" id="heading{{ forloop.counter }}">
                    {{ q.question }}
                </h2>
            </button>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#FAQAccordion">
                <div class="accordion-body">
                    {{ q.answer }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}